[submodule "backend"]
	path = backend
	url = https://github.com/TarunReddy77/legal-app-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/TarunReddy77/legal-app-frontend.git
